/* font-family: 'Bai Jamjuree', sans-serif;
font-family: 'Julius Sans One', sans-serif; */

:root {
  --header-font: "Julius Sans One", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--header-font);
}

/* Flex Box Time */

/* Navbar */
nav {
  display: flex;
  background-color: tomato;
  justify-content: ;
}

nav ul {
  display: flex;
  background-color: blue;
  justify-content: flex-end;
}

/* Main */

/* About me */
