/* font-family: 'Bai Jamjuree', sans-serif;
font-family: 'Julius Sans One', sans-serif; */

* {
  box-sizing: border-box;
}

:root {
  --header-font: "Julius Sans One", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--header-font);
}

/* Flex Box Time */

/* Navbar */
nav {
  display: flex;
  background-color: tomato;
  justify-content: space-between;
  height: 50px;
  align-items: center;
}

nav ul {
  display: flex;
  background-color: blue;
  justify-content: flex-end;
}

/* Main */

.main-section {
  display: flex;
  background-color: chartreuse;
  padding-top: 20px;
}

.section-titles {
  text-align: right;
  width: 150px;
  padding: 20px 5px 0px 10px;
}

/* Projects*/
.projects {
  display: flex;
  flex-wrap: wrap;
  background-color: chocolate;
  width: 100%;
}

.projects div {
  height: 200px;
  margin: 10px;
  background-color: black;
  border: brown 1px solid;
  flex: 1 1 400px;
}

.projects div:nth-child(1) {
  flex: 100%;
}

/* Mobile responsive layout and resize */
@media (max-width: 800px) {
  .main-section {
    flex-direction: column;
  }
  .section-titles {
    text-align: center;
  }
  .projects div {
    height: 100px;
  }
  .projects div:nth-child(1) {
    height: 200px;
  }
}
